<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedom.sales.mapper.SalesPromotionMapper">
  <resultMap id="BaseResultMap" type="com.freedom.sales.pojo.SalesPromotionPojo">
    <id column="id" jdbcType="VARCHAR" property="id" />
<!--    <result column="name" jdbcType="VARCHAR" property="name" />-->
<!--    <result column="sex" jdbcType="INTEGER" property="sex" />-->
<!--    <result column="medicarecard" jdbcType="VARCHAR" property="medicarecard" />-->
<!--    <result column="credentialstype" jdbcType="VARCHAR" property="credentialstype" />-->
<!--    <result column="credentialsno" jdbcType="VARCHAR" property="credentialsno" />-->
<!--    <result column="phoneno" jdbcType="VARCHAR" property="phoneno" />-->
<!--    <result column="homeaddress" jdbcType="VARCHAR" property="homeaddress" />-->
<!--    <result column="workaddress" jdbcType="VARCHAR" property="workaddress" />-->
<!--    <result column="doctorname" jdbcType="VARCHAR" property="doctorname" />-->
<!--    <result column="injectdate" jdbcType="VARCHAR" property="injectdate" />-->
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from t_sales_promotion
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByGoodsName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from t_sales_promotion
      where goodsName like  "%"#{goodsName}"%"
    where t.endDate >= CURDATE()
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">

     select *
    from t_sales_promotion
    where t.endDate >= CURDATE()
  </select>
  <insert id="insert" parameterType="com.freedom.sales.pojo.SalesPromotionPojo">
    insert into t_sales_promotion (id, goodsName, promotionPrice,
                                originalPrice, beginDate, endDate,
                                maxWeight, maxAmount, createTime
                                )
    values (#{id,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{promotionPrice,jdbcType=DECIMAL},
    #{originalPrice,jdbcType=VARCHAR}, #{beginDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR},
    #{maxWeight,jdbcType=VARCHAR}, #{maxAmount,jdbcType=VARCHAR}, now()
    )
  </insert>
</mapper>